<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="toolbar-title">Mizu-do</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-img src="/assets/mizudo-logo.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input type="text" formControlName="username"></ion-input>
            </ion-item>
            <ion-item *ngIf="username.invalid && username.touched" lines="none">
              <ion-label color="danger">Username is required</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item *ngIf="password.invalid && password.touched" lines="none">
              <ion-label color="danger">Password is required</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="loginForm.invalid">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
