<ion-menu side="start" menuId="mainMenu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title>Mizu-do</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of menuItems"  button (click)="onMenuClick(item)">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        <ion-label>{{item.label}}</ion-label>
      </ion-item>
      <ion-item button (click)="logOut()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Log out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
